@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="jumbotron-fluid">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <div id="myMap" style="position:relative;width:100%;min-width:290px;height:600px;"></div>



    </div>
  

</div>

